@font-face{
    font-family: "Habel Demo";
    src: url("font/HabelDemo/HabelDemo.otf");
}

@font-face{
    font-family: "Palanquin";
    src: url("font/Palanquin/palanquin-regular.ttf");
}

@font-face{
    font-family: Paris;
    src: url(font/Parisienne/Parisienne-Regular.ttf);
}

@font-face{
    font-family: "Alex Brush";
    src: url("font/AlexBrush/AlexBrush-Regular.ttf");
}

html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;    
    text-align: justify;
    font-family: "Palanquin";
}

p{
    font-size: 1.5vw;
    line-height: 30px;
}

.logo-ref{
    display: none;
}

header.logo::before{
    content: url(images/logo.png);
    float: left;
    display: inline-block;
    padding: 0;
    background: #f4f7f6;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    height: 60px;
    padding: 0 10px 0 40px;
    transform-origin: top left;
    transform: skew(-30deg, 0deg);
}

.logo{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    background: linear-gradient(to left, #000000, #404040, #808080);
    margin: 0 auto;
    width: 100%;  
    z-index: 3;
    position: fixed;
    height:60px;
}

.navigation{
    display: inline-block;
    text-align: center;
    float: right;
    padding: 0.50%;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    text-decoration: none;
    padding: 10px 15px;
    color: #fafafa;
    font-weight: 500;
    font-size: 1.1vw;
}

.navigation ul li a:hover{
    border-bottom: 3px solid #FBA100;
    color: #FBA100;
}

article{
    position: relative; 
    padding-top: 60px;
}

.cover img{
    display: none;
}

.cover{
    background-image: url(images/b01.png);
    padding: 8em 0 9em 0;
    background-size: 100% 100%;
	background-position: bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
    height: 60vh;
    background-color: #c5c1c0;
}

.title-topcentered-gray{
    font-size: 8vw;
    text-align: right;
    color: #000000;
    z-index: 2;
    font-family: "Habel Demo";
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 30%;
    margin-right: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

.title-centered-white{
    font-size: 7vw;
    font: white;
    text-align: right;
    z-index: 2;
    font-family: "Habel Demo";
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 30%;
    margin-right: 5%;
    margin-top: auto;
    margin-bottom: auto;
    color: #000000;
}
    
.title-centered-gray{
    font-size: 7vw;
    font: white;
    text-align: right;
    z-index: 2;
    font-family: "Habel Demo";
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 30%;
    margin-right: 5%;
    margin-top: auto;
    margin-bottom: auto;
    color: #000000;
}

section{
    color: #8B8989;
}

footer{
    float: left;
}

section.section-white h2:not(.left-h2-small){
    text-align: center;
    font-size: 4vw;
    font-family: "Alex Brush";
    margin-right: 80%;
    border-bottom: 3px dotted black;
    width: 65%;
    text-align: left;
    float: left;
}

section.section-white li{
    margin-right: 15%;
    font-size: 1.5vw;
}

section.section-white{    
    background-image: url(images/b03.png);
    background-attachment: fixed;  
    background-color: #f4f7f6;
    background-size: cover;
    font-size: 1.5vw;
    padding: 5% 30% 5% 5%;
    position: relative;
    color: black;  
}

section.section-black{
    background-image: url(images/b02.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    font-size: 2vw;
    position: relative;    
    color: white;
    padding: 5% 5% 5% 35%;
}

section.section-black h2{
    text-align: center;
    font-size: 4vw;
    font-family: "Alex Brush";
    margin-right: 80%;
    border-bottom: 3px dotted white;
    width: 60%;
    text-align: left;
    float: left;    
}

aside{
    background: #0B3C5D;
    box-shadow: 1px 1px 3px 2px #ccc;
    padding: 1%;
    margin: 2%;
    font-style: italic;
    color: #FFFFFF; 
}

aside.right-aside{
    width: 60%;
    float: right;
}

aside.left-aside{
    width: 60%;
    float: left;
}
.name{
    color: #D9B310;
}

.blue-quote{
    color: #D9B310;
    font-weight: 600;
}

.churches img{
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 50%;
}

.history-img img{
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 50%;
}

.be-aware-img img{
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 50%;
}

.be-involved-img img{
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 50%;
}

.photos img{
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 50%;
}

figcaption{
    text-align: center;
    font-size: 1.5vw;
    line-height: 35px;
}

#be-involved .list-explanation{
    font-size: 1.4vw;
    margin-left: 5%; 
    margin-top: -2%;
    font-weight: 100;
}

#be-involved .list li{
    font-size: 1.7vw;
    font-weight: 600;
    color: #173E43;
    line-height: 30px;
    margin-top: 2%;
}

#be-involved .list-explanation li{
    font-size: 1.4vw;
    font-weight: 100;
    margin-left: -10%;
    margin-top: 2%;
    list-style-type: none;
}

#be-involved .sub-list li{
    list-style-type: square;
    font-size: 1.2vw;
    margin-left: 5%;
    font-style: oblique;
}

#be-involved ol li{
    margin: 2%;
}

#about-us{
    width: 60%;
    height: 600px;
}

#about-us h2{
    float: left;
}

#about-us p{
    font-size: 1.2vw;
    float: left;
}

#about-us h6{
    display: none;
}

#about-us nav::before{
    content: "View our other page:";
    float: left;
    font-size: 1vw;
    margin-top: 5%;
}

#about-us figure img{
    width: 75%;
    height: auto;
    display: block;
    padding: 2%;
    float: right;
    margin-right: -10%;
}

#about-us .our-page-nav img{
    background-color: white;
    float: left;
    padding: 1%;
    margin: 1%;
    border-radius: 60px 60px;
}

.emphasize{
    color: #D9B310;
    font-size: 1.5vw;
}

.white-quote{
    font-size: 1.6vw;
    font-family: Paris;
}

.quote-credit{
    float: right;
    font-size: 1.2vw;
    font-family: Paris;
}

.credit-photo{
    margin-bottom: -1%;
    margin-top: 0;
    font-size: 1vw;
    font-weight: 100;
    text-align: center;
}

#be-involved .left-h2-small{
    font-size: 1.5vw;
    margin-bottom: -2%;
}

h4{
    color: #438496;
    font-size: 1.7vw;
    margin-bottom: -2%;
}

h3{
    color: #438496;
    font-size: 1.7vw;
    margin-bottom: -2%;
}

footer{
    width: 100%;
}

footer h5{
    font-size: 1.2vw;
    margin: 1%;
}