@font-face{
    font-family:'Tradegothic';
    src: url(fonts/tradegothic-condeighteen-webfont.woff);
}

@font-face{
    font-family:'Roadgeek';
    src: url(fonts/roadgeek_2005_old_parks-webfont.woff);
}

html{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(images/bg-body.jpg);
}

nav{
    position: fixed;
    z-index: 3;
    width: 100%;
    float: left;
    box-shadow: 4px 4px #558C89;
}

ul img{
    float: left;
    padding: 0.50% 25% 0% 2%;
    display: inline-block;
    align-content: center;   
}

nav ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
    float: left;
    padding: 1.50%;
    overflow: hidden;
    background: linear-gradient(to right bottom, #558C89, #74AFAD, #DEDEDD);
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    font-size: 1.4vw;
    font-family:'Tradegothic'; 
}

nav li a{
    display: inline-block;
}

nav li a:hover {
    border-top: 2px dotted #558C89;
    border-bottom: 2px dotted #558C89;
    color: black;
    padding: 5px 16px;
}

.active{
    color: black;
    padding: 7px 16px;
}

header{
    margin: 0;
    padding-top: 10%;  
    height: auto;
    width: 100%;
    color: black;
    text-align: center;
    line-height: 30px;
    float: left;
}

header h1{    
    font-family:'Tradegothic'; 
    font-size: 4vw;
}

header img{
    width: 100%
}

article{
    padding: 3% 10%;
    float: left;
    font-family:'Roadgeek';
}


section h1{
    color: black;
    font-size: 1.5vw;
    line-height: 0px;
}

p{
    font-size: 1.2vw;
}

.more{
    font-size: 1vw;
    color: red;
}

.quote{
    background-color: gray;
    opacity: 0.75;
    width: 30%;
    float: right;
    padding: 1% 2%;
    margin: 1%;
    font-style: oblique;
}

figure img{
    width: 20%;
    height:auto;
    vertical-align: middle;       
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption{  
    text-align: center;
    font-style: italic;
    font-size: 1vw;
}

.name{
    font-size: 1.2vw;
    color: #56B5B1;
}

ol{
    font-size: 1.3vw;
    line-height: 35px;
}

.definition{
    font-style: italic;   
    font-size: 1vw;
}

footer{
    background: linear-gradient(to right top, #558C89, #74AFAD, #DEDEDD);
    color: white;
    padding: 1%;
    height: auto;
    float: left;
    width: 100%;
}

footer p{
    float: left;
    font-size: 1.2vw;
    font-family:'Tradegothic'; 
}