@font-face{
    font-family: "Lato Black";
    src: url("fonts/Lato-Black.eot"),
        url('fonts/Lato-Black.woff') format('woff'),
        url('fonts/Lato-Black.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: "Proxima Nova";
        src: url('fonts/Proxima Nova Alt Regular-webfont.eot'),
        url('fonts/Proxima Nova Alt Regular-webfont.woff') format('woff'),
        url('fonts/Proxima Nova Alt Regular-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: "Vollkorn-Bold";
        src: url('fonts/Vollkorn-Bold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background: white;
    font-family: "Proxima Nova";
}

article{
    position: relative; 
    padding-top: 5%;
}

section{
    position: relative;
    float: left;
}

p{
    font-size: 1.5vw;
    text-align: justify;
    line-height: 30px;
}

h2{
    font-family: "Lato Black";
    font-size: 2.8vw;
    text-align: center;
    border-bottom: 4px solid #558C89;
    width: 55%;
    margin: 0;
    text-align: left;
}

h4{
    font-size: 1.5vw;
    margin-bottom: -10px;
    margin-top: 40px;
}

.logo img{
    display: none;
}

header.logo::before{
    content: url(images/logo.png);
    float: left;
    display: inline-block;
    padding: 0;
    background: #fafafa;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    height: 60px;
    padding: 10px 70px 0px 70px;
}

.logo{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    background: #1e2d3b;
    box-shadow: 1px 1px 5px 3px #ccc;
    margin: 0 auto;
    width: 100%;  
    z-index: 3;
    position: fixed;
    height:70px;
}

.navigation{
    display: inline-block;
    text-align: center;
    float: right;
    padding: 0.50%;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    text-decoration: none;
    padding: 10px 15px;
    color: #fafafa;
    font-weight: 500;
    font-size: 1.1vw;
}

.navigation ul li a:hover{
    border-bottom: 3px solid #558C89;
    color: #558C89;
}

.cover img{
    display: none;
}

.cover{
    background-image: url(../images/cover.jpg);
    padding: 8em 0 9em 0;
    background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
    height:100vh;
    margin: auto; 
}

.cover h1{
    font-size: 6vw;
    text-align: center;
    z-index: 2;
    font-family: "Lato Black";
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

.cover h1.title-topcentered-gray{
    color: white;
    border: 10px solid white;
}

.cover h1.title-centered-gray{
    color: #4B4A4A;
    border: 10px solid #4B4A4A;
}

.cover h1.title-centered-white{
    color: white;
    border: 10px solid white;
}

b.emphasize{
    color: #558C89;
}

b.name{
    color: #558C89;
}

q.blue-quote{
    color: #558C89;
}

q.white-quote{
    font-size: 1.2vw;
}

aside{
    background: #74AFAD;
    box-shadow: 1px 1px 3px 2px #ccc;
    padding: 1%;
    font-style: italic;
    color: #FFFFFF;    
}

aside.right-aside{
    width: 60%;
    float: right;
    margin-right: -10%;
    margin-left: 3%;
    margin-top: 2%;
}

aside.left-aside{
    width: 60%;
    float: left;
    margin-left: -10%;
    margin-right: 3%;
    margin-top: 2%;
}

small.quote-credit{
    float: right;
    font-size: 1.1vw;
}

ol.list{
    font-size: 1.5vw;
    text-align: left;
    font-weight: 600;
}

ol.list li{
    margin: 2%;    
    padding: 1%;
}

#environment{
    padding: 8% 15% 3%;
}

#religious-tolerance{
    padding: 8% 15% 3%;
}

#gender-equality{
    padding: 8% 15% 3%;
}

#gender-equality img{
    width: 45%;
    float: left;
    margin: 2%;
    box-shadow: 1px 1px 5px 3px #ccc;
}

#gender-equality h6.credit-photo{
    display: none;
}

#gender-equality figure::after{
    content: "Photos by Kimberly Lopez";
    font-size: 1.3vw;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#mission-vision{
    background-image: url(images/bg01.jpg);
    background-size: cover;
	background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;
    color: white;
    background-color: black;
    text-align: center;
    position: relative;
    float: left;
    padding: 8% 5% 3%;
}

#mission-vision p{
    background: white;
    color: black;
    width: 50%;
    float: right;
    padding: 2%;
    opacity: 0.7;
    font-weight: 600;
}

#mission-vision h2{
    width: 55%;
    float: right;
    text-align: left;
}

#vision-mission{
    background-image: url(images/bg01.jpg);
    background-size: cover;
	background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;
    color: white;
    background-color: black;
    text-align: center;
    position: relative;
    float: left;
    padding: 8% 5% 3%;
}

#vision-mission p{
    background: white;
    color: black;
    width: 40%;
    float: left;
    padding: 2%;
    opacity: 0.7;
    font-weight: 600;
}

#vision-mission h2{
    width: 40%;
    margin-right: 30%;
    float: left;
    text-align: left;
}

#be-involved{
    background-image: url(images/bg02.jpg);
    background-size: cover;
	background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;
    color: white;
    background-color: black;
    text-align: center;
    padding: 8% 5% 3% 50%;
}

#be-involved h2{
    margin-bottom: 2%;
    float: left;
    width: 80%;
}

#be-involved h2.left-h2-small{
    font-size: 1.5vw;
    border-bottom: 0;
    color: black;
    background: white;
    opacity: 0.7;
    width: 96%;
    padding: 2%;
    margin: 0;
}

#be-involved p{
    float: right;
    width: 100%;
    background: white;
    color: black;
    opacity: 0.7;
    font-size: 1.4vw;
    line-height: 20px;
    font-weight: 600;    
    margin: 0;
    width: 96%;
    padding: 2%;
}

#be-involved p.list-explanation{
    float: right;
    background: white;
    color: black;
    opacity: 0.7;
    font-size: 1.2vw;
    line-height: 20px;
    margin: 0;
}

#be-involved ul.list{
    float: right;
    background: white;
    color: green;
    opacity: 0.7;
    text-align: left;
    font-size: 1.5vw;
    list-style-type: none;
    font-weight: 600;
    margin: 0;
    padding: 0;
    width: 100%;
}

#be-involved ul.sub-list{
    float: right;
    background: white;
    color: green;
    opacity: 0.7;
    text-align: left;
    font-size: 1.1vw;
    font-weight: 600;
    line-height: 10px;
    font-style: italic;
    width: 100%;
    margin: 0;
    padding: 0;
}

#be-involved ul.sub-list li{
    margin-left: 4%;
    margin-bottom: 2%;
    list-style-type: none;
}

#be-involved ul.list li{
    margin: 2%;
    list-style-type: none;
}

.be-involved-img img{
    width: 100%;   
    display: block;
}

figure.be-involved-img{
    float: right;
    width: 100%;
    margin: 0;
}

figure.be-involved{
    background: white;
}

#be-involved h6.credit-photo{
    float: right;
    width: 100%;
    background: white;
    color: black;
    margin: 0;
    opacity: 0.7;
    font-size: 1vw;
    font-weight: 600;
}

#be-involved figcaption{
    float: right;
    background: white;
    color: black;
    opacity: 0.7;
    padding-bottom: 5%;
    font-weight: 600;
    width: 100%;
    font-size: 1.4vw;
}

#be-involved ol{
    background: white;
    color: black;
    opacity: 0.7;
    padding: 2%;
    margin-top: 0;
    width: 96%;
    float: right;
    font-size: 1.4vw;
}

#be-involved ol li{
    margin-left: 4%;
    margin-bottom: 0;
    margin-top: 0;
}

#be-aware{
    background: #eeeeee;
    padding: 8% 15% 3%;
}

figure.be-aware-img{
    width: 40%;
    display: block;
    float: left;
}

.be-aware-img img{
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 5px 3px #ccc;
}

.be-aware-img h6.credit-photo{
    font-size: 1vw;
    display: block;
    margin: auto 0%;
    text-align: left;
}

.be-aware-img figcaption{
    text-align: left;
    margin: auto -0%;
    font-size: 1.2vw;
}

#history{
    padding: 8% 15% 3%;
}

.history-img img{
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 1px 1px 5px 3px #ccc;
}

.history-img h6.credit-photo{
    font-size: 1vw;
    display: block;
    margin: auto 35%;
    text-align: left;
    font-weight: 100;
}

.history-img figcaption{
    text-align: left;
    margin: auto 35%;
    font-size: 1.2vw;
}

#laws{
    padding: 8% 15% 3%;
}

figure.churches img{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%; 
    box-shadow: 1px 1px 5px 3px #ccc;
}

.churches h6.credit-photo{
    font-size: 1vw;
    display: block;
    margin: auto 15%;
    text-align: left;
    font-weight: 100;
}

.churches figcaption{
    text-align: left;
    margin: auto 15%;
    font-size: 1.5vw;
}

#about-us{
    padding: 8% 15% 3%;
}

#about-us p{
    font-size: 1.1vw;
    float: right;
    line-height: 20px;
    margin-top: 5%;
    width: 40%
}

#about-us figure img{
    float: left;
    width: 60%;
    margin:0;
    margin-left: -5%;
}

#about-us h6{
    display: none;
}

#about-us nav::before{
    content: "View our other page:";
    float: left;
    margin: 8% 5% 2%;
    font-size: 1vw;
}

nav.our-page-nav a{
    margin: 0;
    margin-left: 5%;
}

nav.our-page-nav img{
    width: 20%;
}

footer{
    float: left;
    background: #1e2d3b;;
    width: 100%;
}

footer h5{    
    margin: 2%;
    font-size: 1vw;
    color: #fafafa;
    font-weight: 100;
}